body {
  background-color: #100c0c;
}

.custom-btn {
  width: 19rem;
}
.icon-user {
  display: flex;
  margin-top: 1rem;
  margin-right: 10px;
}
.icon-key {
  display: flex;
  margin-top: 1rem;
  margin-right: 10px;
}
.alke-icon{
    margin-bottom: 30px;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Agrega una transición suave a la escala y sombra */
    
}
.alke-icon:hover{
    transform: scale(1.1); /* Escala la imagen al 110% al pasar el ratón */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Agrega una sombra al pasar el ratón */
}

