

body{
    background-color: #100C0C;
}




.gradient-border {
    background-color : #100C0C;
    border-width: 2px; /* Ancho del borde */
    border-style: solid;
    border-image: linear-gradient(to right, #9B03C0, #FDFCFE); /* Cambia los colores según tus preferencias */
    border-image-slice: 1; /* Controla cómo se divide el gradiente en las secciones del borde */
    margin-bottom: 15px;
}

/*.btn-login{
    background-color: #7C3981;
    width: 30rem;
}
*/
.btn-login {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 30rem;
    background: linear-gradient(to bottom, #7C3981, black);
    color: white;
    border-radius: 25px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-login:hover {
    background: #7C3981; /* Cambia el color al pasar el ratón sobre el botón */
    color: white;
}

